#logo-1edu {
  height: 40px;
  width: auto;
}
#login-btn {
  border-radius: 25px;
  padding: 8px 35px;
  background-color: white;
  background-color: #5a6be6;
  transition: 0.2s;
  margin-left: 30px;
}
#login-btn:hover {
  background-color: transparent;
}
.rating > span:hover:before {
  content: "\2605";
  position: absolute;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}
.form-group {
  display: flex;
}
.form-group label {
  margin-right: 20px;
}
.form-group input {
  border: 1px solid #ce4be8;
  border-radius: 5px;
  color: #888;
  outline: none;
  padding: 5px 10px;
}
