#logo-1edu {
  height: 40px;
  width: auto;
}
#login-btn {
  border-radius: 25px;
  padding: 8px 35px;
  background-color: white;
  background-color: #5a6be6;
  transition: 0.2s;
  margin-left: 30px;
}
#login-btn:hover {
  background-color: transparent;
}
.rating > span:hover:before {
  content: "\2605";
  position: absolute;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}
.form-group {
  display: flex;
  padding: 5px 10px;
}
.form-group label {
  margin-right: 20px;
  width: 150px;
  flex: 1;
}
.form-group input,
#text-area {
  border: 1px solid #ce4be8;
  border-radius: 5px;
  color: #888;
  outline: none;
  padding: 5px 10px;
  flex: 2;
}
#btn-creat-course {
  outline: none;
  border: none;
  padding: 10px 20px;
  color: white;
  background-color: #ce4be8;
  border-radius: 10px;
  text-align: center;
}
#btn-login {
  outline: none;
  border: none;
  padding: 10px 20px;
  color: white;
  background-color: #c42be2;
  border-radius: 10px;
  text-align: center;
  transition: 0.2s;
}
#btn-login:hover {
  background-color: #ce4be8;
}
#avatar-img:hover #avatar-menu {
  display: block;
  opacity: 1;
}
#avatar-menu {
  display: none;
  opacity: 0;
  transition: 0.4s;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  z-index: 9999999;
  width: 250px;
  padding: 15px 10px;
  background-color: #942ca8;
  border-radius: 10px;
}
#avatar-menu li {
  list-style: none;
  padding: 5px 15px;
  color: white;
  transition: 0.2s;
  border-radius: 5px;
  cursor: pointer;
}
#avatar-menu li:hover {
  background-color: #b23aca;
}
.visible {
  display: block !important;
  opacity: 1 !important;
}
.success-color {
  color: #2ecc71 !important;
}
.info-color {
  color: #f1c40f !important;
}
.err-color {
  color: #e74c3c !important;
}
.add-cart-btn {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #ce4be8;
  color: white;
  font-weight: 600;
  font-size: 22px;
  opacity: 0;
  transition: 0.35s;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 7px;
}
.add-cart-btn:hover {
  background-color: #b23aca;
}
.project-wrap:hover .add-cart-btn {
  opacity: 1;
  bottom: -15px;
}
.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  background-color: red;
  z-index: -5;
  font-style: normal;
}
