<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); -%>
</head>
<body>
    <%- include('./teachers/header'); -%>
    
    <section class="ftco-section bg-light" style="margin-top: 150px;">
        <div class="container">
            <div class="row justify-content-center pb-4" style="margin-bottom: 50px;">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Welcome to 1EDU</span>
                    <h2 class="mb-4"> Tạo khóa học mới cho bạn</h2>
                </div>
            </div>
            <div class="row" style="gap: 50px;">
                <div class="col-lg-4 col-md-6 col-sm-12" style="text-align: center;">
                    <div style="width: 300px; height: 200px; overflow: hidden; border: 3px dashed #34bb3b;">
                        <div>Preview Image 300x200 </div>
                        <img src="" alt="" id="img-review" style="width: 100%">
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12" style="text-align: center;">
                    <label for="image">Chọn hình ảnh cho khóa học</label>
                    <i class="bi bi-cloud-plus-fill" style="font-size: 100px;position: relative;color: #ce4be8; cursor: pointer;padding: 25px 30px;border:3px dashed #9d2ab4;display: flex;justify-content: center;align-items: center;">
                        <input type="file" name="image" id="" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;cursor: pointer;">
                    </i>
                </div>
                
            </div>
            
        
    </section>
    



    <%- include('./partials/footer'); -%>
<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

<script src="/js/thang_custom.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.animateNumber.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/scrollax.min.js"></script>
<script src="/js/main.js"></script>
<script>
    document.addEventListener('DOMContentLoaded',()=>{
        const imgEle=document.querySelector('#img-review')
        const inputEle=document.querySelector('input[type="file"]')
        let srcImg;
        inputEle.addEventListener('change',(e)=>{
            if(srcImg){
                URL.revokeObjectURL(srcImg)
            }
            console.log(e.target.files[0])
            srcImg=URL.createObjectURL(e.target.files[0])
            imgEle.src=srcImg
        })
    })
</script>
</body>
</html>