<section class="ftco-section bg-light">
    <div class="container">
    <div class="row justify-content-center pb-4">
        <div class="col-md-12 heading-section text-center ftco-animate">
            <span class="subheading">Start Learning Today</span>
            <h2 class="mb-4">Pick Your Course</h2>
        </div>
    </div>
    <div class="row">
    <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(images/work-1.jpg);">
                <span class="price">Software</span>
            </a>
            <div class="text p-4">
                <h3><a href="#">Design for the web with adobe photoshop Design for the web with adobe photoshop Design for the web with adobe photoshop</a></h3>
                <p class="advisor">Advisor <span>Tony Garret</span></p>
                <ul class="d-flex justify-content-between">
                    <li><span class="flaticon-shower"></span>2300</li>
                    <li class="price">$199</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="project-wrap">
            <a href="#" class="img" style="background-image: url(images/work-2.jpg);">
            <span class="price">Software</span>
        </a>
        <div class="text p-4">
            <h3><a href="#">Design for the web with adobe photoshop</a></h3>
            <p class="advisor">Advisor <span>Tony Garret</span></p>
            <ul class="d-flex justify-content-between">
                <li><span class="flaticon-shower"></span>2300</li>
                <li class="price">$199</li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-6 col-lg-3 ftco-animate">
<div class="project-wrap">
    <a href="#" class="img" style="background-image: url(images/work-3.jpg);">
        <span class="price">Software</span>
    </a>
    <div class="text p-4">
        <h3><a href="#">Design for the web with adobe photoshop</a></h3>
        <p class="advisor">Advisor <span>Tony Garret</span></p>
        <ul class="d-flex justify-content-between">
        <li><span class="flaticon-shower"></span>2300</li>
        <li class="price">$199</li>
    </ul>
</div>
</div>
</div>

<div class="col-md-6 col-lg-3 ftco-animate">
<div class="project-wrap">
    <a href="#" class="img" style="background-image: url(images/work-4.jpg);">
        <span class="price">Software</span>
    </a>
    <div class="text p-4">
        <h3><a href="#">Design for the web with adobe photoshop</a></h3>
        <p class="advisor">Advisor <span>Tony Garret</span></p>
        <ul class="d-flex justify-content-between">
        <li><span class="flaticon-shower"></span>2300</li>
        <li class="price">$199</li>
    </ul>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3 ftco-animate">
<div class="project-wrap">
    <a href="#" class="img" style="background-image: url(images/work-5.jpg);">
        <span class="price">Software</span>
    </a>
    <div class="text p-4">
        <h3><a href="#">Design for the web with adobe photoshop</a></h3>
        <p class="advisor">Advisor <span>Tony Garret</span></p>
        <ul class="d-flex justify-content-between">
            <li><span class="flaticon-shower"></span>2300</li>
            <li class="price">$199</li>
        </ul>
    </div>
</div>
</div>
<div class="col-md-6 col-lg-3 ftco-animate">
<div class="project-wrap">
    <a href="#" class="img" style="background-image: url(images/work-6.jpg);">
        <span class="price">Software</span>
    </a>
    <div class="text p-4">
        <h3><a href="#">Design for the web with adobe photoshop</a></h3>
        <p class="advisor">Advisor <span>Tony Garret</span></p>
        <ul class="d-flex justify-content-between">
            <li><span class="flaticon-shower"></span>2300</li>
            <li class="price">$199</li>
        </ul>
    </div>
</div>
</div>
</div>
</div>
</section>