<footer class="ftco-footer ftco-no-pt">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md pt-5">
          <div class="ftco-footer-widget pt-md-5 mb-4">
            <h2 class="ftco-heading-2">Địa chỉ </h2>
            <p>227 Nguyễn Văn Cừ, Phường 4, Quận 5, Thành phố Hồ Chí Minh, Việt Nam, Thành phố Hồ Chí Minh,  Việt Nam</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
              <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
          </ul>
      </div>
  </div>
  <div class="col-md pt-5">
      <div class="ftco-footer-widget pt-md-5 mb-4 ml-md-5">
        <h2 class="ftco-heading-2">Trợ giúp</h2>
        <ul class="list-unstyled">
          <li><a href="#" class="py-2 d-block">Chăm sóc khách hàng</a></li>
          <li><a href="#" class="py-2 d-block">Hợp pháp</a></li>
          <li><a href="#" class="py-2 d-block">Dịch vụ</a></li>
          <li><a href="#" class="py-2 d-block">Quyền riêng tư và chính sách</a></li>
          <li><a href="#" class="py-2 d-block">Hoàn trả tiền</a></li>
          <li><a href="#" class="py-2 d-block">Gọi điện cho chúng tôi</a></li>
      </ul>
  </div>
  </div>
  <div class="col-md pt-5">
     <div class="ftco-footer-widget pt-md-5 mb-4">
        <h2 class="ftco-heading-2">Khóa học liên quan</h2>
        <ul class="list-unstyled">
          <% if(category) { %>
            <% category.forEach(item=>{ %>
                <li><a href="/course/search?search=+&category=<%=item.tittle%>" class="py-2 d-block"><%= item.tittle %></a></li>
            <% }) %>
          <% } %>
      </ul>
  </div>
  </div>
  <div class="col-md pt-5">
      <div class="ftco-footer-widget pt-md-5 mb-4">
         <h2 class="ftco-heading-2">Đặt câu hỏi ?</h2>
         <div class="block-23 mb-3">
           <ul>
             <li><span class="icon fa fa-map-marker"></span><span class="text">1du.dev@gmail.com</span></li>
             <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+84 357156559</span></a></li>
         </ul>
     </div>
  </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
  
      <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Đồ án Nhập Môn Công Nghệ Phần Mềm - Trường Đại Học Khoa Học Tự Nhiên - Nhóm 11
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
    </div>
  </div>
  </div>
  </footer>